.like-btn {
  margin: 0;
  max-width: 21px;
  max-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  align-self: center;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.like-btn:hover {
  opacity: 0.5;
}
