.profile {
  margin: 0;
  min-width: 88.125%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38.25px 0 36px;
}

/*1280px*/
@media screen and (min-width: 900px) {
  .profile {
    padding: 36.25px 0 46.25px;
    min-width: 880px;
    display: grid;
    grid-template-areas:
      "avatar . ."
      "avatar info add-btn"
      "avatar profession add-btn"
      "avatar . .";
    justify-content: space-between;
  }
}
