.form__inputs {
  margin: 0 auto;
  padding: 0;
  border: 0;
  max-width: 238px;
  display: flex;
  flex-direction: column;
}

/*1280px*/
@media screen and (min-width: 720px) {
  .form__inputs {
    max-width: 358px;
  }
}
